<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nate.baseandroidstudydemo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.lifecycle.LifeCycleActivity"></activity>
        <activity android:name=".activity.lifecycle.LifeCyleChildActivity"></activity>
        <activity
            android:name=".activity.lifecycle.DialogActivity"
            android:theme="@android:style/Theme.Dialog"></activity>
        <activity android:name=".activity.fragment.FragmentMainActivity"></activity>
        <activity android:name=".activity.fragment.FragmentWithXmlActivity"></activity>
        <activity android:name=".activity.fragment.FragmentWithCodeActivity"></activity>
        <activity android:name=".activity.fragment.FragmentContactTestActivity"></activity>
        <activity android:name=".activity.recyclerview.ListRecyclerViewActivity"></activity>
        <activity android:name=".activity.recyclerview.RecyclerViewMain"></activity>
        <activity android:name=".activity.recyclerview.GridRecyclerViewActivity"></activity>
        <activity android:name=".activity.sharedpreference.SharedPerferenceMainActivity"></activity>
        <activity android:name=".activity.savetofile.SaveToFileActivity"></activity>
        <activity android:name=".activity.intent.IntentMainActivity"></activity>
        <activity android:name=".activity.share.ShareActivity"></activity>
    </application>

</manifest>
